.contact_container_div {
    margin: 63px  auto;
    border: solid 2px #c1876f;
    box-shadow: 0 0 10px #949291;
    background-color: #fcfcfc;
    border-radius: 15px;
    width: 50%;
}

.contact_container_text {
    padding: 10px 30px;
    width: 100%;
    display: flex;
    flex-direction: column;

    p {
        text-align: center;
    }

    h2 {
        text-align: center;
        margin: 20px
    }
}

.contact_container_svg {
    display: flex;
    justify-content: space-around;
    padding: 45px 90px;
    @media screen and (max-width:1090px){
        flex-direction: column;
    }
}

.container_svg {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    a{
        text-decoration: none;
        font-weight: 700;
        color:#c1876f
    }
    p:hover{
        border-bottom: 2px solid #560d20;
        color: #560d20;
    }
}

#email-text {
    cursor: pointer;
    font-weight: 700;
    color:#c1876f
}

#email-text:hover {
    border-bottom: 2px solid #560d20;
    color: #560d20;
}
.contact_lien_cv{
    a{
        text-decoration: none;
        color:#c1876f;
    }
    a:hover{
        border-bottom: 2px solid #560d20;
        color: #560d20;
    }
}