
h1{
    text-align:center;
    font-size:40px;
    color:#c1876f;
    margin: 90px;

}
h2{
    margin:10px;
    margin-left:0;
    color:#c1876f;
}
h3{
    margin:0;
    color:#c1876f;
}
#Parcours{
    h1{
        padding:90px 0 30px 0;
        margin:0;
    }
}
.welcome-div{
    display:flex;
    align-items:center;
    margin-bottom:100px;
    img{
        border-radius:100%;
        width:25%;
        margin:20px;
        box-shadow: 0 0 10px #949291;
    }
}
.welcome-text{
    margin: 10px 20px;
    text-align: justify;
}
.parcours_container{
    width: 95%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}
@keyframes cd-bounce-2{
    0%{
        opacity:0;
        transform:transalteX(-100px)
    }
    60%{
        opacity:1;
        transform:translateX(20px)
    }
    100%{
        transform:translate(0);
    }
}
.parcours_div {
    padding-bottom: 65px;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.6s ease-in-out,
    opacity 0.6 ease-in-out;
}
.parcours_div.active{
    transform:translateX(0%);
    animation: 600ms ease 0ms 1 normal none running cd-bounce-2;
    opacity:1;
}
@keyframes cd-bounce-1{
    0%{
        opacity:0;
        transform: scale(.5)
    }
    60%{
        opacity:1;
        transform:scale(1.2);
    }
    100%{
        transform:scale(1)
    }
}
.parcours_icons{
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
    color: white;
    background-color:#c1876f;
    box-shadow: 0 0 10px grey;
    left: 49%;
    position: absolute;
    margin-left: -18px;
    z-index:1;
}
.parcours_icons.active{
    animation: cd-bounce-1 .6s;
}
.parcours_date{
    left: 53%;
    position: absolute;
    margin: 10px;
    color:#949291;
    font-weight: 500;
}
.parcours_div::before{
    background-color:#ddb4a289;
    width: 2px;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
}
.parcours_description{
    border:solid 2px #c1876f;
    width:40%;
    background-color: white;
    padding: 15px;
    border-radius:15px;
    box-shadow: 0 0 10px #949291;
}
.parcours_div_skills{
    color:#560d20;
}
.parcours_div_button{
    display:flex;
    justify-content: center;
    button{
        width: 160px;
        height: 50px;
        cursor: pointer;
        border: 1px solid #c1876f;
        border-radius: 15px;
        box-shadow: 0 5px 15px #80808085;
        overflow: hidden;
        position: relative;
        z-index:0;
        color:#560d20;
    }
    button::after{
        content: "";
        position: absolute;
        left: 0;
        top: 50px;
        height: 100%;
        width: 100%;
        background-color: #c1876f;
        border-radius: 50% 50% 0 0;
        transition: all .5s;
        z-index:-1;
        
    }
    button:hover::after{
        overflow: visible;
        top:0;
        border-radius: 0;
    }
    span{
        font-family: "Comfortaa", sans-serif;
        font-weight: 700;
        font-size: 17px;
    }
    button:hover{
        color:white;
    }
}
.parcours_fleche_right{
    border-style: solid;
    border-width: 5px 0 5px 6px;
    border-color: transparent transparent transparent #c1876f;
    position: absolute;
    left: 40%;
}
.parcours_fleche_left{
    border-style: solid;
    border-width: 6px 0 6px 8px;
    border-color: transparent transparent transparent #c1876f;
    position: absolute;
    right: 100%;
    transform: rotate(180deg);
}
.parcours_date_bloc2{
    left: 35%;
    position: absolute;
    margin: 10px;
    color:#949291;
    font-weight: 500;
}
.parcours_description_bloc2{
    border:solid 2px #c1876f;
    width:40%;
    background-color: white;
    padding: 15px;
    border-radius:15px;
    left:60%;
    position: relative;
    box-shadow: 0 0 10px #949291;
}
#Projets{
    h1{
        padding:90px 0 60px 0;
        margin:0;
    }
}
.Projet_ul{
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    li{
        margin:10px;
        max-width: 500px;
    }
    a{
        text-decoration: none;
    }
}

.contact_container-composant{
    padding:10px;
    background-image: url('../backgroundContact.jpg');
    background-attachment: fixed;
    height: 560px;
}